body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f0f0f0;
}

h1 {
    color: #333;
}

ul {
    list-style-type: square;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
}
li {
    margin: 10px 0;
    color: #555;
}
footer {
    margin-top: 30px;
    padding: 10px;
    background-color: #333;
    color: #fff;
    text-align: center;
}
